<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../favicon.png" />
		<meta name="viewport" content="width=device-width" />
		
		<link rel="modulepreload" href="../internal/immutable/entry/start.8948aeb0.js">
		<link rel="modulepreload" href="../internal/immutable/chunks/index.b3aeaf36.js">
		<link rel="modulepreload" href="../internal/immutable/chunks/singletons.067f129b.js">
		<link rel="modulepreload" href="../internal/immutable/chunks/index.f248012a.js">
		<link rel="modulepreload" href="../internal/immutable/entry/app.344fe720.js">
		<link rel="modulepreload" href="../internal/immutable/chunks/preload-helper.a4192956.js">
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents">
			<script>
				{
					__sveltekit_f0oo64 = {
						assets: "/wikidata-graph-builder",
						base: new URL("..", location).pathname.slice(0, -1),
						env: {}
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("../internal/immutable/entry/start.8948aeb0.js"),
						import("../internal/immutable/entry/app.344fe720.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
