<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/wikidata-graph-builder/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="content-security-policy" content="">
		<link rel="modulepreload" href="/wikidata-graph-builder/internal/immutable/start-dbedf66e.js">
		<link rel="modulepreload" href="/wikidata-graph-builder/internal/immutable/chunks/index-04c8a6d0.js">
		<link rel="modulepreload" href="/wikidata-graph-builder/internal/immutable/chunks/singletons-1dd5363d.js">
		<link rel="modulepreload" href="/wikidata-graph-builder/internal/immutable/chunks/index-7838a8a2.js">
		<link rel="modulepreload" href="/wikidata-graph-builder/internal/immutable/chunks/preload-helper-41c905a7.js">
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents">
		<script type="module" data-sveltekit-hydrate="45h">
			import { start } from "/wikidata-graph-builder/internal/immutable/start-dbedf66e.js";

			start({
				env: {},
				paths: {"assets":"/wikidata-graph-builder","base":"/wikidata-graph-builder"},
				target: document.querySelector('[data-sveltekit-hydrate="45h"]').parentNode,
				version: "1675694957429"
			});
		</script></div>
	</body>
</html>
