doctype html
html
  head
    link(rel="stylesheet" href="assets/css/bootstrap.min.css")
    link(rel="stylesheet" href="assets/css/bootstrap-theme.min.css")
    link(rel="stylesheet" href="assets/css/select2.min.css")
    link(rel="stylesheet" href="assets/css/toastr.min.css")
    link(rel="stylesheet" href="assets/css/select2-bootstrap.min.css")
    link(rel="stylesheet" href="assets/css/main.css")

    script(src="assets/js/jquery.min.js")
    script(src="assets/js/bootstrap.min.js")
    script(src="assets/js/jquery.validate.min.js")
    script(src="assets/js/jquery.history.js")
    script(src="assets/js/d3.min.js")
    script(src="assets/js/select2.min.js")
    script(src="assets/js/toastr.min.js")
    script(src="assets/js/all.min.js")

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    title Wikidata Graph Builder
  body
    nav.navbar.navbar-default(role="navigation")
      .container
        <a class="navbar-brand" href="?">WGB</a>
        form.navbar-form.navbar-left(action="")
          .form-group
            input.form-control(name="lang" type="text" placeholder="en" size="4" style="width: 45px")
          .form-group
            select.form-control(name="item" style="width: 210px")
          .form-group
            select.form-control(name="property" style="width: 210px")
          .form-group
            select.form-control(name="direction" style="width: 100px")
              option(value="forward" selected) Forward
              option(value="reverse") Reverse
          .form-group
            label(for="iterations") Iterations
            input.form-control(name="iterations" type="number" value="0" min="0" style="width: 50px")
          .form-group
            label(for="limit") Limit
            input.form-control(name="limit" type="number" value="0" min="0" size="2" style="width: 60px")
          button.btn.btn-primary(type="submit") Build
          button.btn.btn-default(id="openSparql") Query
          //- button.btn.btn-default(id="openSvg") SVG
          button.btn.btn-default(id="openWdTree") List
    .container(id="main")
      h1 Wikidata Graph Builder
      
      noscript
        .alert.alert-danger Wikidata Graph Builder requires JavaScript to be enabled

      p 
        | Build graphs using #[a(href="https://www.wikidata.org") Wikidata] #[a(href="https://query.wikidata.org/") Query Service] and
        |  
        | #[a(href="https://d3js.org/") d3.js]. 
      p Example graphs:
      
      -
        links = [
          ['Parent taxons of Blue Whale', '?property=P171&item=Q42196'],
          ['Class tree for human', '?property=P279&item=Q5'],
          ['Parents of Nikita Mikhalkov', '?property=P40&item=Q55207&direction=reverse'],
          ['Children of Agnes of the Palatinate (4 generations)', '?property=P40&item=Q4450926&iterations=4'],
          ['Types of numbers', '?property=P279&item=Q11563&direction=reverse']
        ]
      
      ul
        each link in links
          li!= '<a href="' + link[1] + '">' + link[0] + '</a>'
          
      p.text-muted The source code released under #[a(href="http://opensource.org/licenses/MIT") MIT license] at #[a(href="https://github.com/AngryLoki/wikidata-tree-builder") GitHub].

    svg(xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink")
