.navbar
  margin-bottom 0

.form-group > input
  display inline-block

.item-name, .item-descrition
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.item-descrition
  font-size smaller

#main.container
  width auto
  max-width 680px
  padding 0 15px
  margin-top 20px

line
  stroke #000
  stroke-width 1.5px

circle
  fill #ccc
  stroke #333
  stroke-width 1.5px

text
  font 10px sans-serif
  text-shadow 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff
  cursor pointer
  -webkit-touch-callout none
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none

.active
  fill #6BB9F0
