// html, body
//   overflow hidden

graph
  overflow hidden

.site-content-toolbar
  background #f6f6f6 !important
  color rgba(0,0,0,0.87) !important

a
  color: #106CC8;
  text-decoration: none;
  font-weight: 400;
  border-bottom: 1px solid rgba(64, 84, 178, 0.25);
  transition: border-bottom 0.35s;


a:hover, a:focus
  border-bottom: 1px solid #4054B2;

ul
  margin 0
  padding 0
  li
    margin-left 16px
    padding 0
    margin-top 3px
    list-style-position inside

  li:first-child
    margin-top 0

textarea
  margin-top 12px
  margin-bottom 12px
  width 500px
  transition all 0.2s ease
  height 46px

  font-family: Menlo, Monaco, Consolas, "Courier New", monospace
  font-size: 15px
  padding 3px

textarea:focus
  height 200px

.md-toolbar-tools
    height initial
    max-height initial

.autocomplete-header-template
  li
    border-bottom 1px solid #ddd
    height auto
    padding 4px 8px
    white-space normal

  li:last-child
    border-bottom-width 0

  .item-label, .item-description
    display block
    line-height 1.5
    overflow hidden
    text-overflow ellipsis
    white-space nowrap

  .item-description
    font-size smaller

md-toolbar md-autocomplete input
  padding 0 0 0 8px !important

.md-toolbar-tools
  font-size: 16px
  > *
    margin-left 6px
    margin-right 6px
  label
    font-size: 14px
  .md-errors-spacer
    display none

.main-content
  width auto
  max-width 680px
  margin-left auto
  margin-right auto


md-progress-linear
  position absolute
  transition: opacity  0.1s linear

  .md-container
    height: 2px


.footer
  font-size: small;

line
  stroke #000
  stroke-width 1.5px

circle
  fill #ccc
  stroke #333
  stroke-width 1.5px

text
  font 10px sans-serif
  text-shadow 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff
  cursor pointer
  user-select none

.active
  fill #6BB9F0

.parented
  fill #EBC6AD
